#status {
  text-align: center;
}


.clickable {
  color: var(--color-wme-purple);
  cursor: pointer;
}
.clickable:hover {
  text-decoration: solid underline;
}

details {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

summary > h1 {
  display: inline;
}
