#status {
  text-align: center;
}

.clickable {
  color: var(--color-wme-purple);
  cursor: pointer;
}
.clickable:hover {
  text-decoration: solid underline;
}

details {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

summary > h1,
summary > h2,
summary > h3 {
  display: inline;
}
summary > h2,
summary > h3 {
  font-weight: 400;
}

#root h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.event {
  margin-left: 1.5em;
}
.event .event-details {
  margin-top: 0.3em;
  margin-left: 1em;
}

.parent-link {
  font-family: monospace;
  font-size: 0.7em;
  vertical-align: top;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.commands {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.on {
  color: lime;
}
.off {
  color: red;
}
.switch {
  color: yellow;
}
.value {
  color: dodgerblue;
}
