:root {
  --color-wme-purple: #9664ff;
  --color-dialogue-bg: #180c1e;

  --color0: white;
  --color1: red;
  --color2: green;
  --color3: yellow;
  --color4: blue;
  --color5: magenta;
  --color6: cyan;
  --color7: gray;

  --portrait-size: 96px;
  --item-gap: 0.5em;
  --max-command-width: 600px;
}

@font-face {
  font-family: "Terminus";
  src: url("/fonts/Terminus.ttf");
}

body {
  background-color: black;
  background-image: url("/background.png");
  background-attachment: fixed;
  background-size: cover;
  color: var(--color0);
  font-family: "Terminus", monospace, sans-serif;
  font-size: 22px;
}

a,
a:visited {
  color: var(--color-wme-purple);
}
.container a {
  font-size: 0.8em;
  margin-right: 0.2em;
  text-decoration: none;
}

ul {
  list-style: square;
}

.panel {
  background-color: black;
  border: 2px solid var(--color-wme-purple);
  padding: 0.4em;
}

#content {
  width: fit-content;
  min-width: 40%;
  margin: auto;
  margin-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.subtle {
  color: gray;
}
