:root {
  --color-wme-purple: #9664ff;
  --color-dialogue-bg: #180c1e;

  --color0: white;
  --color1: red;
  --color2: lime;
  --color3: yellow;
  --color4: dodgerblue;
  --color5: magenta;
  --color6: cyan;
  --color7: gray;

  --portrait-size: 96px;
  --item-gap: 0.5em;
  --max-command-width: 600px;
}

@font-face {
  font-family: "Terminus";
  src: url("/fonts/Terminus.ttf");
}

body {
  position: relative;
  background-color: black;
  background-image: url("/background.png");
  background-attachment: fixed;
  background-size: cover;
  color: var(--color0);
  font-family: "Terminus", monospace, sans-serif;
  font-size: 24px;
}

a,
a:visited {
  color: var(--color-wme-purple);
  text-decoration: none;
}
a:hover {
  text-decoration: solid underline;
}

ul {
  list-style: square;
}

img {
  image-rendering: pixelated;
}

.panel {
  background-color: black;
  border: 2px solid var(--color-wme-purple);
  padding: 0.8em;
}

#content {
  width: fit-content;
  min-width: 40%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

#navigation {
  margin-bottom: 0.5em;
}
#navigation * {
  margin-right: 0.5em;
}

details > summary {
  cursor: pointer;
}

.color1 {
  color: var(--color1);
}
.color2 {
  color: var(--color2);
}
.color3 {
  color: var(--color3);
}
.color4 {
  color: var(--color4);
}
.color5 {
  color: var(--color5);
}
.color6 {
  color: var(--color6);
}
.color7 {
  color: var(--color7);
}

.subtle {
  color: gray;
}
