:root {
    --color-wme-purple: #9664ff;
    --color-dialogue-bg: #180c1e;

    --color0: rgb(255, 255, 255);
    --color1: rgb(255, 64, 64);
    --color2: rgb(0, 224, 0);
    --color3: rgb(255, 255, 0);
    --color4: rgb(64, 64, 255);
    --color5: rgb(255, 64, 255);
    --color6: rgb(64, 225, 225);
    --color7: rgb(128, 128, 128);

    --portrait-size: 96px;
    --item-gap: 0.5em;
    --max-command-width: 600px;
}

@font-face {
    font-family: 'Terminus';
    src: url("/fonts/Terminus.ttf");
}

body {
    background-color: black;
    color: var(--color0);

    font-family: 'Terminus', sans-serif;
    font-size: 1.2rem;
}
#content {
    width: fit-content;
    min-width: 36em;
    max-width: 60%;
    margin: auto;
    padding-left: 4em;
    padding-right: 4em;
    border: 2px solid var(--color-wme-purple);
}

ul {
    position: relative;
    list-style: none;
    padding-left: 0;
}
.commands ul::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 8px;
    border-left: 2px solid #333;
}
ul ul {
    padding-left: 2em;
}
li {
    margin-top: var(--item-gap);
    margin-bottom: var(--item-gap);
}

.unnamed {
    color: darkgray;
    font-style: italic;
}

.border {
    border: 2px solid var(--color-wme-purple);
}

.off {
    color: var(--color1);
}
.on {
    color: var(--color2);
}

.switch {
    color: var(--color3);
}
.selfswitch {
    color: var(--color5);
}
.variable {
    color: var(--color6);
}
.value {
    color: var(--color3);
}
.item {
    color: var(--color3);
}
.character {
    color: var(--color3);
}
.actor {
    color: var(--color3);
}
.code {
    border: 1px solid var(--color-wme-purple);
    border-radius: 2px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.dialogue-box {
    --color-border-dialogue: #ff921e;

    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: var(--item-gap);
    max-width: var(--max-command-width);
    min-width: var(--max-command-width);
    
    border: 4px solid var(--color-border-dialogue);
    border-radius: 4px;
    background-color: var(--color-dialogue-bg);
}
.dialogue-box span {
    flex-grow: 1;
}

.portrait-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
}
.portrait {
    width: var(--portrait-size);
    height: var(--portrait-size);
}
.portrait-label {
    font-size: medium;
}

.inline {
    display: inline-block;

    position: relative;
    vertical-align: middle;
    line-height: 110%;
    
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: bold;

    margin: 4px;

    width: 24px;
    height: 24px;
}
.inline-wait {
    background-color: green;
}
.inline-pause {
    background-color: yellow;
}
.inline-longpause {
    background-color: blue;
}
.inline-change {
    background-color: red;
}

.player {
    text-decoration: dotted underline;
}
