:root {
  --color-wme-purple: #9664ff;
  --color-wme-darker: #532b89;
  --color-dialogue-bg: #180c1e;

  --color0: white;
  --color1: red;
  --color2: lime;
  --color3: yellow;
  --color4: dodgerblue;
  --color5: magenta;
  --color6: cyan;
  --color7: gray;

  --portrait-size: 96px;
  --item-gap: 0.5em;
  --max-command-width: 600px;
}

@font-face {
  font-family: "Terminus";
  font-display: block;
  src: url("/fonts/Terminus.ttf");
  unicode-range: U+00-7F;
}

body {
  position: relative;
  background-color: black;
  background-image: url("/background.png");
  background-attachment: fixed;
  background-size: cover;
  color: var(--color0);
  font-family: "Terminus", monospace, sans-serif;
  font-size: 24px;
}

a,
a:visited {
  color: var(--color-wme-purple);
  text-decoration: none;
}
a:hover {
  text-decoration: solid underline;
}

ul {
  list-style: square;
}

img {
  image-rendering: pixelated;
}

.panel {
  background-color: black;
  border: 2px solid var(--color-wme-purple);
  padding: 0.8em;
}

#content {
  width: fit-content;
  min-width: 40%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

details > summary {
  cursor: pointer;
}

h1 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.color1 {
  color: var(--color1);
}
.color2 {
  color: var(--color2);
}
.color3 {
  color: var(--color3);
}
.color4 {
  color: var(--color4);
}
.color5 {
  color: var(--color5);
}
.color6 {
  color: var(--color6);
}
.color7 {
  color: var(--color7);
}
.subtle {
  color: gray;
}

button,
input {
  color: var(--color-wme-purple);
  background-color: black;
  border: 2px solid var(--color-wme-purple);
  padding: 0.2em;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  cursor: pointer;

  padding-left: 0.4em;
  padding-right: 0.4em;
}
button:hover {
  color: black;
  background-color: var(--color-wme-purple);
}
button:hover .checkbox.on {
  border: 2px solid black;
}

.checkbox {
  box-sizing: border-box;
  width: 0.8em;
  height: 0.8em;
  border: 2px solid var(--color-wme-purple);
  background-color: black;
}
.checkbox.on {
  border: 2px solid black;
  background-color: var(--color-wme-purple);
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  color: var(--color-wme-purple);
  gap: 0.6em;
  
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.header a {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}
.header > div {
  display: flex;
  gap: inherit;
}
.header * {
  align-content: center;
  font-family: inherit;
  font-size: 1em;
}
