:root {
    --page-margin: 0.5em;
    --page-padding: 0.2em;
    --nested-margin: 1em;
    --inline-size: 24px;
}

body {
    font-family: sans-serif;
    background-color: #444;
    color: white;
}

tr td:first-child {
    padding-left: 0;
}

tr td {
    padding-left: 1em;
}

ul {
    list-style: none;
}

#content {
    /* max-width: 40%; */
    width: 40%;
    margin: auto;
}

.subtle {
    color: gray;
}

.on {
    background-color: green;
    color: white;
    border-radius: 4px;
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    font-weight: bold;
}

.off {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    font-weight: bold;
}

.variable {
    display: inline-block;
    font-family: monospace;
    background-color: #323232;
    padding: 4px;
    border-radius: 4px;
    font-size: 110%;
}

.event > * {
    margin-left: var(--nested-margin);
}

.page {
    border: 1px solid black;
    padding: var(--page-padding);
    margin-top: var(--page-margin);
    margin-bottom: var(--page-margin);
}

.page-conditions {
    border: 1px solid black;
}

.page > * {
    padding: var(--page-padding);
    margin: 0.5em;
    margin-left: var(--nested-margin);
}

.command {
    border: 1px solid black;
    padding: 0.5em;
}

.dialogue-box {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.note {
    text-decoration: solid underline;
}

.center-text {
    text-align: center;
}

.center-text span {
    margin: auto;
}

.portrait-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.portrait-text {
    font-size: small;
}

.portrait {
    --portrait-size: 96px;
    width: var(--portrait-size);
    height: var(--portrait-size);
}

.inline-command {
    --inline-margin: 0.2em;
    vertical-align: -4px;
    display: inline-block;
    width: var(--inline-size);
    height: var(--inline-size);
    border: none;
    margin-left: var(--inline-margin);
    margin-right: var(--inline-margin);
}

.player {
    text-decoration: dotted underline;
}

.pause {
    background-color: orange;
}

.long-pause {
    background-color: darkorange;
}

.wait-action {
    background-color: green;
}

.change-portrait {
    background-color: dodgerblue;
}

.popup {
    position: relative;
}
.popup > img {
    position: absolute;
}
.popup .portrait-container {
    position: absolute;
    z-index: 1;
    background-color: #222;
    padding: 8px;
    visibility: hidden;
    top: -5px;
}
.popup:hover .portrait-container {
    visibility: visible;
}

.color0 {
    color: rgb(255, 255, 255);
}
.color1 {
    color: rgb(255, 64, 64);
}
.color2 {
    color: rgb(0, 224, 0);
}
.color3 {
    /* color: rgb(255, 255, 0); */
    color: orange;
}
.color4 {
    color: rgb(64, 64, 255);
}
.color5 {
    color: rgb(255, 64, 255);
}
.color6 {
    color: rgb(64, 225, 225);
}
.color7 {
    color: rgb(128, 128, 128);
}

.ed-box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: var(--page-margin);
}
.ed-title {
    width: 100%;
    height: 24px;
    background-color: white;
}
.ed-box span {
    text-align: center;
}
.ed-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
}
.ed-button {
    border: 1px solid white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.ed-inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: var(--page-margin);
}

li {
    margin: var(--page-margin);
}
